# Lab07 Machine Learning
## Stephen Blackwell
### 3/3/20

## Part A

In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter

## Part B-C

In [5]:
cs_survey_base = pd.read_csv("CS1_survey2.csv", sep=',')
cs_survey_base.head(6)

,ID,Textbook,Videos,Lecture,Discussion,Problems,Proactive,CodeExperience,MotivatedByFun,MotivatedByChallenge,MotivatedByGrades,MotivatedByJob,Grade
0,1,3,4,3,1,2,4,1,4,3,4,4,D
1,2,2,3,5,4,3,5,1,4,4,4,4,B
2,3,4,5,5,3,5,3,1,5,4,5,5,C
3,4,1,5,3,4,3,1,1,4,3,1,3,F
4,5,4,3,3,2,2,4,2,5,4,5,5,B
5,6,2,3,4,3,4,3,1,4,4,4,3,D

## Part D

In [30]:
cs_random = cs_survey_base.reindex(np.random.permutation(cs_survey_base['ID']))
cs_random.head(10)

,ID,Textbook,Videos,Lecture,Discussion,Problems,Proactive,CodeExperience,MotivatedByFun,MotivatedByChallenge,MotivatedByGrades,MotivatedByJob,Grade
54,55.0,2.0,5.0,4.0,2.0,2.0,4.0,1.0,5.0,3.0,5.0,5.0,C
23,24.0,4.0,3.0,4.0,5.0,2.0,5.0,1.0,5.0,3.0,5.0,4.0,B
33,34.0,4.0,4.0,3.0,2.0,4.0,1.0,1.0,5.0,5.0,5.0,4.0,F
42,43.0,2.0,5.0,2.0,3.0,3.0,3.0,1.0,5.0,4.0,5.0,4.0,D
39,40.0,4.0,4.0,5.0,3.0,1.0,4.0,1.0,5.0,3.0,3.0,4.0,C
14,15.0,3.0,3.0,3.0,3.0,3.0,2.0,1.0,3.0,2.0,3.0,3.0,F
40,41.0,2.0,2.0,3.0,4.0,4.0,3.0,2.0,5.0,4.0,5.0,5.0,B
31,32.0,1.0,5.0,3.0,5.0,5.0,3.0,2.0,5.0,4.0,4.0,4.0,B
35,36.0,1.0,5.0,2.0,3.0,5.0,4.0,1.0,5.0,2.0,5.0,5.0,C
48,49.0,4.0,4.0,1.0,2.0,3.0,2.0,1.0,4.0,3.0,3.0,4.0,D

In [31]:
cs_categories = list(cs_random.columns.values)
cs_categories

['ID',
 'Textbook',
 'Videos',
 'Lecture',
 'Discussion',
 'Problems',
 'Proactive',
 'CodeExperience',
 'MotivatedByFun',
 'MotivatedByChallenge',
 'MotivatedByGrades',
 'MotivatedByJob',
 'Grade']

In [33]:
cs_target = cs_random['Grade']

In [32]:
cs_categories.remove("ID")
cs_categories.remove("Grade")
cs_categories

['Textbook',
 'Videos',
 'Lecture',
 'Discussion',
 'Problems',
 'Proactive',
 'CodeExperience',
 'MotivatedByFun',
 'MotivatedByChallenge',
 'MotivatedByGrades',
 'MotivatedByJob']

In [56]:
cs = cs_random[cs_categories]
cs.shape

(55, 11)

In [57]:
tpercent = 0.8

tsize = int(np.floor(tpercent * len(cs)))
cs_train = cs[:tsize]
cs_test = cs[tsize:]

In [58]:
print(cs_train.shape)
print(cs_test.shape)

(44, 11)
(11, 11)

In [59]:
cs_target_train = cs_target[0:tsize]
cs_target_test = cs_target[tsize:len(cs_random)]

In [60]:
cs_target_train.head()

54    C
23    B
33    F
42    D
39    C
Name: Grade, dtype: object

In [61]:
cs_target_test.head()

53    D
30    B
51    A
9     B
47    A
Name: Grade, dtype: object

In [62]:
cs_data_train = cs_train.values
cs_data_test = cs_test.values
cs_target_train = cs_target_train.values
cs_target_test = cs_target_test.values

In [46]:
np.set_printoptions(precision=2, linewidth=100)

print(cs_target_train)
print()
print(cs_target_test)
print()
cs_data_train[:10]

['C' 'B' 'F' 'D' 'C' 'F' 'B' 'B' 'C' 'D' 'C' 'D' 'F' 'C' 'B' 'C' 'C' 'D' 'A' 'C' 'C' 'B' 'D' 'C'
 'B' 'D' 'D' 'A' 'C' 'B' 'C' 'B' 'B' 'B' 'B' 'C' 'C' 'A' 'B' nan 'B' 'A' 'B' 'A']

['D' 'B' 'A' 'B' 'A' 'C' 'B' 'A' 'B' 'C' 'F']

array([[55.0, 2.0, 5.0, 4.0, 2.0, 2.0, 4.0, 1.0, 5.0, 3.0, 5.0, 5.0, 'C'],
       [24.0, 4.0, 3.0, 4.0, 5.0, 2.0, 5.0, 1.0, 5.0, 3.0, 5.0, 4.0, 'B'],
       [34.0, 4.0, 4.0, 3.0, 2.0, 4.0, 1.0, 1.0, 5.0, 5.0, 5.0, 4.0, 'F'],
       [43.0, 2.0, 5.0, 2.0, 3.0, 3.0, 3.0, 1.0, 5.0, 4.0, 5.0, 4.0, 'D'],
       [40.0, 4.0, 4.0, 5.0, 3.0, 1.0, 4.0, 1.0, 5.0, 3.0, 3.0, 4.0, 'C'],
       [15.0, 3.0, 3.0, 3.0, 3.0, 3.0, 2.0, 1.0, 3.0, 2.0, 3.0, 3.0, 'F'],
       [41.0, 2.0, 2.0, 3.0, 4.0, 4.0, 3.0, 2.0, 5.0, 4.0, 5.0, 5.0, 'B'],
       [32.0, 1.0, 5.0, 3.0, 5.0, 5.0, 3.0, 2.0, 5.0, 4.0, 4.0, 4.0, 'B'],
       [36.0, 1.0, 5.0, 2.0, 3.0, 5.0, 4.0, 1.0, 5.0, 2.0, 5.0, 5.0, 'C'],
       [49.0, 4.0, 4.0, 1.0, 2.0, 3.0, 2.0, 1.0, 4.0, 3.0, 3.0, 4.0, 'D']], dtype=object)

In [63]:
def knn_search(x, D, K, measure):
    if measure == 0:
        # euclidean distances from the other points
        dists = np.sqrt(((D - x)**2).sum(axis=1))
    elif measure == 1:
        # manhattan distances from the other points
        dists = (np.abs(D-x)).sum(axis=1)
    # This line finds the indexes of the sorted distances.
    idx = np.argsort(dists) # sorting
    # return the indexes of K nearest neighbors and the distances
    return idx[:K], dists

In [91]:
cs_data_test['']
for i in range(len(cs_data_test)):
    neigh_idx, distances = knn_search(cs_data_test[i], cs_data_train, 5, 0)
    neigh_labels = cs_target_train[neigh_idx]
    counts = Counter(neigh_labels)
    print(Counter(neigh_labels).most_common(1))

[('C', 3)]
[('C', 3)]
[('B', 3)]
[('B', 3)]
[('C', 3)]
[('C', 3)]
[('C', 3)]
[('A', 3)]
[('C', 4)]
[('C', 3)]
[('C', 3)]

In [111]:
for i in range(len(cs_data_test)):
    k = 5
    neigh_idx, distances = knn_search(cs_data_test[i], cs_data_train, k, 0)
    neigh_labels = cs_target_train[neigh_idx]
    counts = Counter(neigh_labels)
    gradesValues = {'A': 4, 'B': 3,'C': 2, 'D': 1, 'F': 0}
    grade = 0
    for key in gradesValues.keys():
        for item in counts.keys():
            if(item == key):
                add = counts[item] * gradesValues[key]
                grade = grade + add
    grade = grade / k
    print(grade)

1.4
2.2
3.4
2.6
2.6
1.6
2.0
3.6
1.8
2.4
1.4